html, body, main {
  height: 100%;
}

.side-bar {
  font-family: 'Tahoma';
  width: 30%;
  height: 100%;
  background-color: #ececec;
  float: left;
  
}

.side-bar h1 {
  color: #535353;
  padding-left: 40px;
}

.side-bar ul {
  list-style-type: none;
  padding-left: 40px;
}

.side-bar li {
  color: #a7adb2;
  font-size: 18px;
  margin-bottom: 1rem;
}

.chat-space {
  width: 70%;
  height: 100%;
  overflow: hidden;
}