html, body {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}

.sidenav {
  height: 100%;
}

.nav-pills{
  color: black;
}

.chat-space {
  height: 100%;
}

.message-list {
  padding-bottom: 100px;
}

.message-item-username {
  font-weight: bold;
}

.message-item-timestamp {
  font-weight: lighter;
  font-style: italic;
  float: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.form-control {
  display: inline-block;
  width: 75%;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: inline-block;
    width: 500px;
  }
}
