<main class="home-view">
  <div class="container-fluid">
    <nav class="side-bar col-xs-4">
      <h1>Bloc Chat</h1>
      <ul class="home-view-room-list">
        <li class="home-view-room-item" ng-repeat="room in home.rooms">
          <a class="room-name" ng-click="home.openRoom(room)">{{ room.$value }}</a>
        </li>
      </ul>
      <div class="add-room" ng-controller="RoomModalCtrl as roomModal">
        <button type="button" class="btn btn-default" ng-click="roomModal.open()">New Room</button>
      </div>
    </nav>
    <section class="chat-space col-xs-8">
      <h1>{{ home.currentRoomName }}</h1>
      <div class="message-list container">
        <div class="message-item" ng-repeat="message in home.roomMessages">
          <p class="message-item-username">{{ message.username }} <span class="message-item-timestamp">{{ message.sentAt }}</span></p>
          <p class="message-item-content">{{ message.content }}</p>
        </div>
      </div>
      <div class="send-message">
        <form name="add-message" ng-submit="message.add()">
          <input type="text" class="form-control" ng-model="message.newMessage" placeholder="Write your message here ..." autofocus>
          <button type="submit" class="btn btn-default" ng-click="message.add()">Send</button>
        </form>
      </div>
    </section>
  </div>
</main>
